.dropbtnQuiz {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdownQuiz {
  position: relative;
  display: inline-block;
}

.dropdown-contentQuiz {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentQuiz a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentQuiz a:hover {background-color: #ddd;}

.dropdownQuiz:hover .dropdown-contentQuiz {display: block;}

.dropdownQuiz:hover .dropbtnQuiz {background-color: #3e8e41;}























.dropbtnStudy {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdownStudy {
  position: relative;
  display: inline-block;
}

.dropdown-contentStudy {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentStudy a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentStudy a:hover {background-color: #ddd;}

.dropdownStudy:hover .dropdown-contentStudy {display: block;}

.dropdownStudy:hover .dropbtnStudy {background-color: #3e8e41;}

